.Layout {
    display: flex;
} 

.Edit {
  background: #121212;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  flex: 1;
  margin-left: 180px; /* Same as sidebar width */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0px;
  width: 180px;
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0.5rem;
  border-right: 2px solid #e0e0e0;
  min-height: 100vh;
  height: 100vh;
  z-index: 10;
  font-size: 1.1rem;
}

.nav-btn {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}
.form-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures it takes the full row */
  margin-top: 1rem;
}

.create-form {
  display: flex;
  position: relative;
  flex-wrap: wrap; /* Allow forms to wrap to new row */
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.create-form > div {
    flex: 1 1 250px; /* Grow, shrink, min width */
    min-width: 250px;
    max-width: 350px;
    background: rgb(128, 128, 102);
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
}